.DS_Store
**__pycache__/*
**__pycache__**

## terraform files
**/.terraform
**/.terraform.*
**/.terraform.lock.hcl
**/terraform.*
**.tgz
**/.auto.tfvars
Chart.lock
.chalice
.chalice.*

MTG/
Meta/
pref_exporter.py
this
eks_wepapp/
OpenAI/openai

# NLP python venv
nlp/nlp/**
